@model List<Dish>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Welcome Sucka!</h1>

    <div style="display: flex; flex-direction: row; justify-content: center; color: green">
        <h1>Welcome to  Whateva</h1>
        <p style="margin-right: 50px">Recent Dishes</p>
        <a asp-controller="Home" asp-action="Form">Add a Dish</a>
        <hr />
    </div>

    <ul style="list-style-type: none">

        @foreach (var x in Model)
        {
            <hr style="width: 300px; margin: auto" />
            <li><a asp-controller="Home" asp-action="ViewDish" asp-route-id="@x.Id">@x.Name</a> by @x.Chef</li>
            <li><a asp-controller="Home" asp-action="EditDish" asp-route-id="@x.Id">Edit</a></li>
        }

    </ul>


</div>
